<h1>Mechanic: <%= @mechanic.name %></h1>

<h2>Years of Experience: <%= @mechanic.years_of_experience %></h2>

<h3>Current rides they're working on:</h3>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul><br>

<h4>Add ride to mechanic profile</h4>
<%= form_tag "/mechanics/#{@mechanic.id}", method: :patch do %>
  <%= label_tag "Add ride id:" %>
  <%= number_field_tag :ride_id %>
  <%= submit_tag "Submit" %>
<% end %>